.edit-profile-container {
  background-color: $color-primary-background;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile-photo-container {
  position: relative;
}

.edit-profile {
  width: 50em;
  height: 55rem;
  background-color: $color-primary-background;
  border: solid 8px $color-primary-background-2;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__coverImg-container {
    width: 100%;
    height: 17rem;
    margin-bottom: 8rem;
  }

  &__coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
  }

  &__photo-container {
    margin-left: 1rem;
    position: absolute;
    height: 15rem;
    width: 15rem;
    top: 9rem;
    left: 0;
    border-radius: 50%;
    border: solid 5px $color-primary-background;
  }

  &__photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: brightness(55%);
    object-fit: cover;
  }

  &__upload-cover {
    position: absolute;
    color: transparent;
    z-index: 50;
    top: 43%;
    left: 45.5%;
    width: 3rem;
    height: 3rem;

    &:hover {
      cursor: pointer;
    }

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &__icon-cover {
      position: absolute;
      z-index: 10;
      top: 30%;
      left: 47.5%;
      fill: #fff;
      height: 2.5rem;
      width: 2.5rem;
    }

    &::before {
      display: inline-block;
      background: linear-gradient(top, #f9f9f9, #e3e3e3);
      padding: 1rem;
      cursor: pointer;
      color: $color-font;
      -webkit-user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__upload {
    position: absolute;
    color: transparent;
    z-index: 50;
    top: 41%;
    left: 41%;
    width: 3rem;
    height: 3rem;

    &:hover {
      cursor: pointer;
    }

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &__icon {
      position: absolute;
      z-index: 10;
      top: 41%;
      left: 41%;
      fill: #fff;
      height: 2.5rem;
      width: 2.5rem;
    }

    &::before {
      display: inline-block;
      background: linear-gradient(top, #f9f9f9, #e3e3e3);
      padding: 1rem;
      cursor: pointer;
      color: $color-font;
      -webkit-user-select: none;
    }

    &:focus {
      outline: none;
    }
  }
}
