.edit-profile-container {
  background-color: $color-primary-background;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile {
  width: 40em;

  &__photo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
}
