.feed-page-container {
  background-color: $color-primary-background;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-tweet-container {
  height: fit-content;
  border-bottom: solid 1rem rgba($color-font, 0.1);
  padding-right: 1.5em;
  padding-bottom: 3.5rem;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.explore-container {
  width: 50%;
}

.feed-page-half {
  display: flex;
  height: 100%;
  overflow: auto;
}

.feed-middle {
  height: fit-content;
  min-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $border-main;
}

.input-container {
  position: relative;
  width: fit-content;
}

.search-results {
  position: absolute;
  top: 107%;
  left: 2.5%;
  box-shadow: $box-shadow;
  border-radius: 15px;
  overflow: hidden;
  width: 95%;
  height: fit-content;

  &__item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: $color-primary-background;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-background-2;
    }
  }

  &__item-query {
    color: $color-font;
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: $color-primary-background;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-background-2;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    font-size: 1.8rem;
    color: $color-font;
  }

  &__user-username {
    font-size: 1.3rem;
    color: $color-font-dark;
  }
}
