.feed-page-container {
  background-color: rgba(var(--color-primary-background), 1);
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond(iPhoneProMax) {
    height: 81vh;
  }
}

.create-tweet-container {
  height: fit-content;
  border-bottom: solid 1rem rgba(var(--color-font), 0.1);
  padding-right: 1.5em;
  padding-bottom: 3.5rem;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.explore-container {
  width: 50%;
}

.feed-page-half {
  display: flex;
  height: 100%;
  overflow: auto;

  @include respond(iPhoneProMax) {
    height: 100%;
  }
}

.feed-middle {
  height: fit-content;
  min-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: var(--border-main);

  @include respond(main2) {
    width: 78%;
  }

  @include respond(main3) {
    width: 100%;
  }
}

.input-container {
  position: relative;
  width: fit-content;

  @include respond(main2) {
    display: none;
  }
}

.search-results {
  position: absolute;
  top: 107%;
  left: 2.5%;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  overflow: hidden;
  width: 95%;
  height: fit-content;

  &__item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: rgba(var(--color-primary-background), 1);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary-background-2), 1);
    }
  }

  &__item-query {
    color: rgba(var(--color-font), 1);
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: rgba(var(--color-primary-background), 1);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary-background-2), 1);
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    font-size: 1.8rem;
    color: rgba(var(--color-font), 1);
  }

  &__user-username {
    font-size: 1.3rem;
    color: rgba(var(--color-font-dark), 1);
  }
}

.feed-right {
  width: 40%;
  display: flex;
  justify-content: center;

  @include respond(main2) {
    display: none;
  }
}
