.follows-page-container {
  width: 100%;
  background-color: rgba(var(--color-primary-background), 1);

  @include respond(iPhoneProMax) {
    height: var(--height);
  }
}

.follows-bottom {
  width: 60%;

  display: flex;
  border-right: var(--border-main);

  @include respond(main2) {
    width: 78%;
  }

  @include respond(main3) {
    width: 100%;
  }

  &__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    color: rgba(var(--color-font-dark), 1);
    border-bottom: var(--border-main-2);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1);
    }
  }

  &__selection-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    border-bottom: solid 2.5px rgba(var(--color-primary), 1);
    color: rgba(var(--color-primary), 1);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1);
    }
  }

  &__text {
    font-size: 1.6rem;
    color: currentColor;
  }
}
