.follows-page-container {
  width: 100%;
  background-color: var(--color-primary-background);

  @include respond(iPhoneProMax) {
    height: 81vh;
  }
}

.follows-bottom {
  width: 60%;

  display: flex;
  border-right: var(--border-main);

  @include respond(iPhoneProMax) {
    width: 100%;
  }

  &__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    color: var(--color-font-dark);
    border-bottom: var(--border-main-2);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1);
    }
  }

  &__selection-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    border-bottom: solid 2.5px var(--color-primary);
    color: var(--color-primary);

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1);
    }
  }

  &__text {
    font-size: 1.6rem;
    color: currentColor;
  }
}
