.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  @include respond(main3) {
    min-height: 110rem;
  }

  @include respond(iPhoneProMax) {
    min-height: unset;
    height: 100%;
  }
}

.sub-container {
  display: flex;
  height: 95%;

  @include respond(main3) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  @include respond(iPhoneProMax) {
    height: unset;
  }
}

.footer {
  height: 5%;
  background-color: $color-primary-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: $color-font-dark;
  font-size: 1.2rem;
  font-weight: 400;
  overflow: hidden;

  @include respond(main2) {
    height: 7%;
  }

  @include respond(main3) {
    height: 12%;
  }

  @include respond(iPhoneProMax) {
    height: 100%;
    justify-content: start;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

    & > p:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  &__signup {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10rem;

    @include respond(main3) {
      display: flex;
    }
  }

  &__button-wrapper {
    width: 17rem;
  }
}

.left-body {
  position: relative;
  flex: 1 1 0%;
  background-color: $color-primary-light;
  overflow: hidden;

  @include respond(iPhoneProMax) {
    height: 25rem;
    flex: none;
  }

  &__header-container {
    @include absoluteCenter;
    z-index: 2;
    display: flex;
    flex-direction: column;

    font-size: 2.5rem;
    color: $color-font;

    @include respond(iPhoneProMax) {
      width: 80%;
      font-size: 2.3rem;
    }

    & > h5:not(:last-child) {
      margin-bottom: 3.5rem;

      @include respond(iPhoneProMax) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.logo-landing {
  z-index: 1;
  position: absolute;
  height: 160vh;
  right: -50vh;
  top: -30vh;
  max-width: none;
  fill: $color-primary;
}

.right-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: $color-primary-background;
  color: $color-font;

  @include respond(iPhoneProMax) {
    justify-content: start;
    flex: none;
    padding-bottom: 1rem;
  }

  &__main-container {
    max-width: 35rem;

    @include respond(main3) {
      padding: 2rem;
      max-width: 38rem;
    }
  }

  &__form-container {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;

    margin-bottom: 5rem;

    @include respond(main2) {
      display: none;
    }
  }

  &__header-container {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @include respond(main2) {
      justify-content: center;
    }

    @include respond(iPhoneProMax) {
      height: unset;
    }
  }
}

.landing-err {
  font-size: 1.5rem;
  color: $color-red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
