.header-main {
  font-size: 2.9rem;
  line-height: 4.1rem;

  &--primary {
    color: rgba(var(--color-font), 1);
  }
}

.header-sub {
  font-size: 1.6rem;
  word-spacing: 0.2rem;

  &--primary {
    color: rgba(var(--color-font), 1);
  }
}

.logo-small {
  height: 5rem;
  fill: rgba(var(--color-font), 1);
}
