.route-container {
  display: flex;
  position: relative;
  height: 100vh;
}

.logo-nav {
  height: 3.5rem;
  fill: $color-font;
  margin-left: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 33vw;
  padding: 1.5rem 0 1rem 10rem;
  height: 100%;
  background-color: $color-primary-background;
  border-right: $border-main;

  &__fill-page {
    background-color: rgba(#fff, 0.15);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 50px;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($color-primary-dark, 0.1);
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__icon {
    height: 3.5rem;
    fill: $color-font;

    &--selected {
      fill: $color-primary;
    }
  }
}

.nav-text {
  color: $color-font;
  font-size: 2rem;
  padding-left: 1.5rem;

  &--selected {
    color: $color-primary;
  }
}

.secondary-nav {
  display: flex;
  min-height: 5.2rem;
  width: 100%;
  border-bottom: $border-main;
  display: flex;
  align-items: center;

  &__back {
    margin-left: 1rem;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;

    transition: all 0.25s;

    &:hover {
      background-color: rgba($color-primary, 0.15);
      cursor: pointer;
    }
  }

  &__back__arrow {
    fill: $color-primary;
    height: 2rem;
    width: 2rem;
  }
}

.tweet-popup_container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  margin-top: 4rem;
  height: fit-content;
  width: 60rem;
  background-color: $color-primary-background;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 3.5rem;
}

.tweet-popup {
  &__top {
    height: 5rem;
    width: 100%;
    border-bottom: $border-main-2;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    margin-bottom: 1.5rem;
  }

  &__content {
    display: flex;
    padding: 0 2rem;
  }
}

.popup__logo {
  height: 2.3rem;
  width: 2.3rem;
  fill: $color-primary;

  &:hover {
    cursor: pointer;
  }
}
