.route-container {
  display: flex;
  height: 100vh;
}

.logo-nav {
  height: 3.5rem;
  fill: $color-font;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 31%;
  padding: 1.5rem 0 1rem 10rem;
  height: 100%;
  background-color: $color-primary-background;
  border-right: solid 1.3px rgba($color-font, 0.1);

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__icon {
    height: 3.5rem;
    fill: $color-font;

    &--selected {
      fill: $color-primary;
    }
  }
}

.nav-text {
  color: $color-font;
  font-size: 2rem;
  padding-left: 1.5rem;

  &--selected {
    color: $color-primary;
  }
}
