.route-container {
  display: flex;
  height: 100vh;
}

.logo-nav {
  height: 3.5rem;
  fill: $color-font;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 33vw;
  padding: 1.5rem 0 1rem 10rem;
  height: 100%;
  background-color: $color-primary-background;
  border-right: $border-main;

  &__item {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 50px;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($color-primary-dark, 0.1);
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__icon {
    height: 3.5rem;
    fill: $color-font;

    &--selected {
      fill: $color-primary;
    }
  }
}

.nav-text {
  color: $color-font;
  font-size: 2rem;
  padding-left: 1.5rem;

  &--selected {
    color: $color-primary;
  }
}

.secondary-nav {
  display: flex;
  min-height: 5.2rem;
  width: 100%;
  border-bottom: $border-main;
  display: flex;
  align-items: center;

  &__back {
    margin-left: 1rem;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;

    transition: all 0.25s;

    &:hover {
      background-color: rgba($color-primary, 0.15);
      cursor: pointer;
    }
  }

  &__back__arrow {
    fill: $color-primary;
    height: 2rem;
    width: 2rem;
  }
}
