.profile-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-primary-background;
}

.profile-info-container {
  display: flex;
  height: 20rem;
  border-bottom: $border-main;
}
