.search-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-primary-background;
}

.search-nav {
  height: fit-content;
  width: 60%;
  border-right: $border-main;
  border-bottom: $border-main;
}

.search-top {
  margin-top: 1rem;
  display: flex;
}

.search-bottom {
  margin-top: 1rem;
  display: flex;

  &__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    color: $color-font-dark;

    &:hover {
      cursor: pointer;
      background-color: rgba($color-primary, 0.1);
    }
  }

  &__selection-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    border-bottom: solid 2.5px $color-primary;
    color: $color-primary;

    &:hover {
      cursor: pointer;
      background-color: rgba($color-primary, 0.1);
    }
  }

  &__text {
    font-size: 1.6rem;
    color: currentColor;
  }
}

.results-list-container {
  height: 100%;
  display: flex;
  overflow: auto;
}

.search-feed-middle {
  height: fit-content;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $border-main;
}

.news-feed-right {
  width: 25%;
}
