*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Defines 1rem
  font-size: 62.5%; //1rem = 10px >>>> 10/16 = 62.5%
}

body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

::selection {
  //   background-color: #fff;
  //   color: #fff;
}
