*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
  // Defines 1rem
  font-size: 62.5%; //1rem = 10px >>>> 10/16 = 62.5%
  background-color: rgba(var(--color-primary-background), 1);
}

body {
  height: 100%;
  // overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.style-scrollbars {
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--color-font-dark), 1);
    border-radius: 10px;
  }

  @include respond(iPhoneProMax) {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }
  }
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
