*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Defines 1rem
  font-size: 62.5%; //1rem = 10px >>>> 10/16 = 62.5%
  background-color: $color-primary-background;
}

body {
  height: 100%;
  // overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.style-scrollbars {
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-font-dark;
    border-radius: 10px;
  }
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
