//MARGINS

//Left

.util-margin-left-small {
  margin-left: 1rem !important;
}

.util-margin-left-medium {
  margin-left: 2rem !important;
}

.util-margin-left-large {
  margin-left: 4rem !important;
}

//Right

.util-margin-right-small {
  margin-right: 1rem !important;
}

.util-margin-right-medium {
  margin-right: 2rem !important;
}

.util-margin-right-large {
  margin-right: 4rem !important;
}

//Top
.util-margin-top-small {
  margin-top: 1rem !important;
}

.util-margin-top-medium {
  margin-top: 2rem !important;
}

.util-margin-top-large {
  margin-top: 4rem !important;
}

//Bottom

.util-margin-btm-xxsmall {
  margin-bottom: 0.25rem !important;
}

.util-margin-btm-small {
  margin-bottom: 1rem !important;
}

.util-margin-btm-medium {
  margin-bottom: 2rem !important;
}

.util-margin-btm-large {
  margin-bottom: 4rem !important;
}

//ALIGN SELF
.util-align-self-start {
  align-self: start !important;
}

.util-align-self-end {
  align-self: flex-end !important;
}

//MARGIN AUTO

.util-margin-auto-top {
  margin-top: auto !important;
}

.util-margin-auto-left {
  margin-left: auto !important;
}

.util-margin-auto-right {
  margin-right: auto !important;
}

.util-margin-auto-btm {
  margin-bottom: auto !important;
}
