:root {
  --color-primary: 29, 161, 242;
  --color-primary-light: 113, 201, 248;
  --color-primary-dark: 27, 149, 224;
  --logo-color: 255, 255, 255;
  --color-red: 224, 36, 94;
  --color-red-2: 198, 31, 82;
  --color-primary-background: 21, 32, 43;
  --color-primary-background-2: 25, 39, 52;
  --color-secondary-background: 37, 51, 65;
  --color-secondary-background-2: 51, 70, 89;
  --follows-you: #253341;
  --color-font: 255, 255, 255;
  --color-font-dark: 136, 153, 166;
  --border-main: solid 1.3px rgba(var(--color-font), 0.1);
  --border-main-2: solid 2.3px rgba(var(--color-font), 0.1);
  --box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  --height: auto; }

/*

ARGS
-phone
-tab-port
-tab-land
-big-desktop


1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: -webkit-fill-available;
  font-size: 62.5%;
  background-color: rgba(var(--color-primary-background), 1); }

body {
  height: 100%;
  font-family: "Roboto", sans-serif; }

.style-scrollbars::-webkit-scrollbar {
  width: 0.8rem;
  height: 1rem; }

.style-scrollbars::-webkit-scrollbar-thumb {
  background: rgba(var(--color-font-dark), 1);
  border-radius: 10px; }

@media (max-width: 25.875em) {
  .style-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */ }
    .style-scrollbars::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      /* Chrome/Safari/Webkit */ } }

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */ }
  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */ }

@keyframes fadeIn {
  0% {
    opacity: 0%; }
  20% {
    opacity: 100%; }
  85% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

.util-margin-left-small {
  margin-left: 1rem !important; }

.util-margin-left-medium {
  margin-left: 2rem !important; }

.util-margin-left-large {
  margin-left: 4rem !important; }

.util-margin-right-small {
  margin-right: 1rem !important; }

.util-margin-right-medium {
  margin-right: 2rem !important; }

.util-margin-right-large {
  margin-right: 4rem !important; }

.util-margin-top-small {
  margin-top: 1rem !important; }

.util-margin-top-medium {
  margin-top: 2rem !important; }

.util-margin-top-large {
  margin-top: 4rem !important; }

.util-margin-btm-xxsmall {
  margin-bottom: 0.25rem !important; }

.util-margin-btm-small {
  margin-bottom: 1rem !important; }

.util-margin-btm-medium {
  margin-bottom: 2rem !important; }

.util-margin-btm-large {
  margin-bottom: 4rem !important; }

.util-align-self-start {
  align-self: start !important; }

.util-align-self-end {
  align-self: flex-end !important; }

.util-margin-auto-top {
  margin-top: auto !important; }

.util-margin-auto-left {
  margin-left: auto !important; }

.util-margin-auto-right {
  margin-right: auto !important; }

.util-margin-auto-btm {
  margin-bottom: auto !important; }

.btn {
  border-radius: 5rem;
  border: none;
  height: 4rem;
  width: 100%;
  background-color: rgba(var(--color-primary), 1);
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem; }
  .btn:hover {
    cursor: pointer;
    background-color: rgba(var(--color-primary-dark), 1); }
  .btn--outline {
    background-color: transparent;
    color: rgba(var(--color-primary), 1);
    border: solid 1px rgba(var(--color-primary), 1); }
    .btn--outline:hover {
      background-color: rgba(var(--color-primary), 0.1); }
  .btn--login {
    width: 10rem;
    background-color: transparent;
    color: rgba(var(--color-primary), 1);
    border: solid 1px rgba(var(--color-primary), 1); }
    .btn--login:hover {
      background-color: rgba(var(--color-primary), 0.1); }
  .btn--logout {
    width: 10rem;
    background-color: transparent;
    color: rgba(var(--color-primary), 1);
    border: solid 1px rgba(var(--color-primary), 1); }
    .btn--logout::before {
      content: "Logout"; }
    @media (max-width: 67.5em) {
      .btn--logout {
        width: 5.5rem;
        height: 5.5rem;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231da1f2' viewBox='0 0 511 512' %3E%3Cpath d='m361.5 392v40c0 44.113281-35.886719 80-80 80h-201c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h201c44.113281 0 80 35.886719 80 80v40c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-40c0-22.054688-17.945312-40-40-40h-201c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h201c22.054688 0 40-17.945312 40-40v-40c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm136.355469-170.355469-44.785157-44.785156c-7.8125-7.8125-20.476562-7.8125-28.285156 0-7.8125 7.808594-7.8125 20.472656 0 28.28125l31.855469 31.859375h-240.140625c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h240.140625l-31.855469 31.859375c-7.8125 7.808594-7.8125 20.472656 0 28.28125 3.90625 3.90625 9.023438 5.859375 14.140625 5.859375 5.121094 0 10.238281-1.953125 14.144531-5.859375l44.785157-44.785156c19.496093-19.496094 19.496093-51.214844 0-70.710938zm0 0'/%3E%3C/svg%3E");
        background-size: 3rem;
        background-repeat: no-repeat;
        background-position: center; }
        .btn--logout::before {
          content: ""; } }
    @media (max-width: 25.875em) {
      .btn--logout {
        width: 4rem;
        height: 4rem;
        background-size: 2.3rem; } }
    .btn--logout:hover {
      background-color: rgba(var(--color-primary), 0.1); }
  .btn--nav {
    width: 10rem; }
    .btn--nav:hover {
      background-color: rgba(var(--color-primary), 0.1); }
  .btn--nav-tweet {
    width: 20rem;
    height: 5rem; }
    .btn--nav-tweet::before {
      content: "Tweet"; }
    @media (max-width: 67.5em) {
      .btn--nav-tweet {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        content: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' class='r-jwli3a r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M8.8 7.2H5.6V3.9c0-.4-.3-.8-.8-.8s-.7.4-.7.8v3.3H.8c-.4 0-.8.3-.8.8s.3.8.8.8h3.3v3.3c0 .4.3.8.8.8s.8-.3.8-.8V8.7H9c.4 0 .8-.3.8-.8s-.5-.7-1-.7zm15-4.9v-.1h-.1c-.1 0-9.2 1.2-14.4 11.7-3.8 7.6-3.6 9.9-3.3 9.9.3.1 3.4-6.5 6.7-9.2 5.2-1.1 6.6-3.6 6.6-3.6s-1.5.2-2.1.2c-.8 0-1.4-.2-1.7-.3 1.3-1.2 2.4-1.5 3.5-1.7.9-.2 1.8-.4 3-1.2 2.2-1.6 1.9-5.5 1.8-5.7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-size: 2.4rem;
        background-repeat: no-repeat;
        background-position: center; }
        .btn--nav-tweet::before {
          content: ""; } }
    @media (max-width: 25.875em) {
      .btn--nav-tweet {
        width: 6rem;
        height: 6rem; } }
    .btn--nav-tweet:hover {
      background-color: rgba(var(--color-primary), 0.85); }
  .btn--tweet {
    width: 10rem;
    color: #fff; }
    @media (max-width: 25.875em) {
      .btn--tweet {
        position: fixed;
        height: 3.3rem;
        top: 0.6rem;
        right: 1rem; } }
  .btn--tweet-disabled {
    width: 10rem;
    color: #fff;
    filter: brightness(70%); }
    @media (max-width: 25.875em) {
      .btn--tweet-disabled {
        position: fixed;
        height: 3.3rem;
        top: 0.6rem;
        right: 1rem; } }
    .btn--tweet-disabled:hover {
      cursor: default;
      background-color: rgba(var(--color-primary), 1); }
  .btn--quick-follow {
    width: 14rem;
    height: 3.5rem; }
  .btn--neutral {
    background-color: rgba(var(--color-secondary-background), 1);
    color: rgba(var(--color-font), 1); }
    .btn--neutral:hover {
      background-color: rgba(var(--color-secondary-background-2), 1); }
  .btn--red {
    background-color: rgba(var(--color-red), 1); }
    .btn--red:hover {
      background-color: rgba(var(--color-red-2), 1); }

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column; }
  .wrapper__signup {
    width: 100%;
    margin-bottom: 0.8rem; }

.input-placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  transform: translate(5%, -300%);
  color: rgba(var(--color-font-dark), 1); }

.input-placeholder-error {
  font-size: 1.5rem;
  font-weight: 400;
  transform: translate(5%, -300%);
  color: rgba(var(--color-red), 1); }

.input {
  height: 6rem;
  width: 20rem;
  color: rgba(var(--color-font), 1);
  background-color: rgba(var(--color-primary-background-2), 1);
  border: none;
  border-radius: 2px;
  border-bottom: solid 2.7px rgba(var(--color-font-dark), 1);
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem; }
  .input__signup {
    width: 100%; }
  .input:focus {
    outline: none;
    border-bottom: solid 2.7px rgba(var(--color-primary), 1); }
  .input:focus ~ .input-placeholder {
    color: rgba(var(--color-primary), 1); }

.input-error {
  height: 6rem;
  width: 20rem;
  color: rgba(var(--color-font), 1);
  background-color: rgba(var(--color-primary-background-2), 1);
  border: none;
  border-radius: 2px;
  border-bottom: solid 2.7px rgba(var(--color-red), 1);
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem; }
  .input-error__signup {
    width: 100%; }
  .input-error:focus {
    outline: none; }
  .input-error:focus ~ .input-placeholder {
    color: rgba(var(--color-red), 1); }

.searchbar-container {
  width: 25rem;
  position: relative; }

.searchbar-container-page {
  width: 85%;
  position: relative;
  margin-left: 1.5rem; }

.searchbar {
  height: 4rem;
  width: 100%;
  color: rgba(var(--color-font), 1);
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 4.5rem;
  border-radius: 55px;
  border: none;
  background-color: rgba(var(--color-secondary-background), 1); }
  .searchbar::placeholder {
    color: rgba(var(--color-font-dark), 1); }
  .searchbar:focus {
    outline: none;
    border: solid 1px rgba(var(--color-primary), 1);
    background-color: transparent; }
  .searchbar:focus ~ .searchbar__icon {
    fill: rgba(var(--color-primary), 1); }
  .searchbar__icon {
    position: absolute;
    top: 23%;
    left: 5%;
    fill: rgba(var(--color-font-dark), 1);
    height: 2rem;
    width: 2rem; }
  .searchbar__icon-page {
    position: absolute;
    top: 23%;
    left: 1.5rem;
    fill: rgba(var(--color-font-dark), 1);
    height: 2rem;
    width: 2rem; }

.create-tweet-container {
  padding: 1rem;
  display: flex;
  width: 100%; }
  @media (max-width: 25.875em) {
    .create-tweet-container {
      display: none; } }

.create-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 0.5rem;
  padding-top: 1.1rem; }
  .create-tweet__text {
    resize: none;
    background-color: transparent;
    border: none;
    color: rgba(var(--color-font), 1);
    font-family: sans-serif;
    font-size: 2rem;
    width: 100%; }
    .create-tweet__text::placeholder {
      color: rgba(var(--color-font-dark), 1); }
    .create-tweet__text:focus {
      outline: none; }
  .create-tweet__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: var(--border-main);
    height: 3rem;
    padding-top: 3.5rem; }
    @media (max-width: 25.875em) {
      .create-tweet__bottom {
        position: relative; } }
  .create-tweet__icon {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    height: 2.5rem;
    width: 2.5rem;
    fill: rgba(var(--color-primary), 1); }

.create-form-container {
  display: flex;
  flex-direction: column; }

.create-tweet-photos-container {
  position: relative;
  margin-top: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%; }
  .create-tweet-photos-container::after {
    content: "";
    display: block;
    padding-top: 60%; }

.create-tweet-image-icon-container {
  position: relative; }

.tweet-popup-container {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.create-tweet-input {
  position: absolute;
  color: transparent;
  z-index: 50;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem; }
  .create-tweet-input:hover {
    cursor: pointer; }
  .create-tweet-input::-webkit-file-upload-button {
    visibility: hidden; }
  .create-tweet-input:focus {
    outline: none; }

@media (max-width: 25.875em) {
  .create-tweet-nav-wrapper {
    position: absolute;
    z-index: 1;
    bottom: 7rem;
    right: 2rem; } }

.tweet-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .tweet-photo:hover {
    cursor: pointer; }

.tweet-photo-2-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover; }
  .tweet-photo-2-first:hover {
    cursor: pointer; }

.tweet-photo-2-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 100%;
  object-fit: cover; }
  .tweet-photo-2-second:hover {
    cursor: pointer; }

.tweet-photo-3-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover; }
  .tweet-photo-3-first:hover {
    cursor: pointer; }

.tweet-photo-3-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-3-second:hover {
    cursor: pointer; }

.tweet-photo-3-third {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-3-third:hover {
    cursor: pointer; }

.tweet-photo-4-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-4-first:hover {
    cursor: pointer; }

.tweet-photo-4-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-4-second:hover {
    cursor: pointer; }

.tweet-photo-4-third {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-4-third:hover {
    cursor: pointer; }

.tweet-photo-4-fourth {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover; }
  .tweet-photo-4-fourth:hover {
    cursor: pointer; }

.tweet {
  height: auto;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  border-bottom: var(--border-main);
  transition: all 0.2s; }
  .tweet:hover {
    background-color: rgba(var(--color-primary-background-2), 1); }
  .tweet__container {
    display: flex; }
  .tweet__profile-img {
    height: 5rem;
    min-width: 5rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    object-fit: cover; }
    .tweet__profile-img:hover {
      cursor: pointer; }
    .tweet__profile-img--search {
      min-height: 3.5rem;
      width: 3.5rem; }

.content {
  width: 100%; }
  .content__user {
    display: flex;
    width: 100%; }
    .content__user:hover > .content__name {
      text-decoration: underline; }
  .content__user-search {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .content__user-search:hover > .content__name {
      text-decoration: underline; }
  .content__name {
    color: rgba(var(--color-font), 1);
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.5rem; }
    .content__name:hover {
      cursor: pointer; }
  .content__username {
    color: rgba(var(--color-font-dark), 1);
    font-size: 1.5rem;
    font-weight: 300; }
    .content__username:hover {
      cursor: pointer; }
  .content__source {
    color: rgba(var(--color-font-dark), 1);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem; }
    .content__source:hover {
      text-decoration: underline; }
  .content__text {
    color: rgba(var(--color-font), 1);
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem; }
  .content__title {
    color: rgba(var(--color-font), 1);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.5rem; }
  .content__title-main {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.5rem; }
  .content__description {
    color: rgba(var(--color-font), 1);
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem; }
  .content__popup {
    fill: rgba(var(--color-font-dark), 1);
    height: 1.5rem;
    width: 1.5rem; }
    .content__popup:hover {
      cursor: pointer; }
  .content__shares {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    height: 2.5rem; }
  .content__like-container {
    display: flex;
    align-items: center; }
  .content__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.25s; }
    .content__icon-box:hover {
      cursor: pointer;
      background-color: rgba(var(--color-red), 0.15); }
    .content__icon-box:hover > .content__like {
      fill: rgba(var(--color-red), 1); }
    .content__icon-box:hover ~ .content__like-num {
      color: rgba(var(--color-red), 1); }
  .content__like {
    fill: rgba(var(--color-red), 1);
    height: 1.6rem;
    width: 1.6rem; }
  .content__not-liked {
    fill: rgba(var(--color-font-dark), 1);
    height: 1.6rem;
    width: 1.6rem; }
  .content__like-num {
    color: rgba(var(--color-red), 1);
    font-size: 1.5rem;
    font-weight: 300; }
  .content__not-like-num {
    color: rgba(var(--color-font-dark), 1);
    font-size: 1.5rem;
    font-weight: 300; }

.separator {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  color: rgba(var(--color-font-dark), 1);
  font-weight: 600;
  font-size: 1.5rem; }

.popup-fill-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: transparent; }

.popup-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: fit-content;
  width: 13rem;
  z-index: 20;
  background-color: rgba(var(--color-primary-background), 1);
  box-shadow: var(--box-shadow);
  border-radius: 5px; }
  .popup-content__list {
    display: flex;
    padding: 1rem;
    align-items: center;
    transition: all 0.2s; }
    .popup-content__list:hover {
      background: rgba(var(--color-secondary-background), 1);
      cursor: pointer; }
  .popup-content__delete-icon {
    fill: rgba(var(--color-red), 1);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem; }
  .popup-content__delete-text {
    color: rgba(var(--color-red), 1);
    font-size: 1.6rem; }

.confirm-delete-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.15); }

.confirm-delete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 105;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 22rem;
  width: 32rem;
  background-color: rgba(var(--color-primary-background), 1);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center; }
  .confirm-delete__header {
    color: rgba(var(--color-font), 1);
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  .confirm-delete__body {
    color: rgba(var(--color-font-dark), 1);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .confirm-delete__buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.pictures-container {
  position: relative;
  margin-top: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%; }
  .pictures-container::after {
    content: "";
    display: block;
    padding-top: 60%; }

.result-explore {
  height: auto;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  border-bottom: var(--border-main);
  transition: all 0.2s;
  display: flex; }
  .result-explore:hover {
    cursor: pointer;
    background-color: rgba(var(--color-primary-background-2), 1); }

.explore-content {
  width: 65%;
  padding: 1rem; }

.explore-content-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-image: linear-gradient(transparent 0%, transparent 25%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.8) 100%); }

.explore-picture {
  position: relative;
  margin-top: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  width: 35%; }
  .explore-picture::after {
    content: "";
    display: block;
    padding-top: 60%; }

.explore-picture-main {
  position: relative;
  margin-top: 1.5rem;
  overflow: hidden;
  width: 100%; }
  .explore-picture-main::after {
    content: "";
    display: block;
    padding-top: 60%; }

.main-result {
  height: auto;
  width: 100%;
  border-bottom: var(--border-main);
  transition: all 0.2s;
  display: flex;
  flex-direction: column; }
  .main-result:hover {
    cursor: pointer;
    background-color: rgba(var(--color-primary-background-2), 1); }

.fill-page-tweet {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #503030; }

.fill-page-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1100;
  max-width: 100%;
  max-height: 100vh;
  margin: auto; }

.close-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.2s; }
  .close-popup:hover {
    cursor: pointer;
    filter: brightness(70%); }

.close-popup-preview {
  display: flex;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.2s; }
  .close-popup-preview-2 {
    right: 50%;
    transform: translateX(165%); }
  .close-popup-preview-3 {
    right: 50%;
    bottom: 50%;
    transform: translate(165%, 165%); }
  .close-popup-preview-4 {
    bottom: 50%;
    transform: translateY(165%); }
  .close-popup-preview:hover {
    cursor: pointer;
    filter: brightness(70%); }

.slideshow {
  display: none;
  position: fixed;
  top: 50%;
  z-index: 1500;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  background-color: white;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.2s; }
  .slideshow-left {
    left: 0;
    margin-left: 1.5rem; }
  .slideshow-right {
    right: 0;
    margin-right: 1.5rem; }
  .slideshow:hover {
    cursor: pointer;
    filter: brightness(70%); }

.img-size-err {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  word-spacing: 0.2rem;
  height: 4rem;
  margin-top: 1rem;
  padding: 2rem;
  background-color: rgba(var(--color-primary), 1);
  animation: fadeIn 7s; }

.img-size-err-edit {
  display: none;
  position: absolute;
  bottom: 3%;
  opacity: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  word-spacing: 0.2rem;
  height: 4rem;
  margin-top: 1rem;
  padding: 2rem;
  background-color: rgba(var(--color-primary), 1);
  animation: fadeIn 7s; }

.route-container {
  display: flex;
  position: relative;
  height: 100vh; }
  @media (max-width: 25.875em) {
    .route-container {
      height: fit-content;
      flex-direction: column-reverse; } }

.logo-nav {
  height: 3.5rem;
  fill: rgba(var(--logo-color), 1);
  margin-left: 1rem; }
  @media (max-width: 25.875em) {
    .logo-nav {
      display: none; } }
  .logo-nav:hover {
    cursor: pointer; }

.nav {
  display: flex;
  justify-content: flex-end;
  width: 33vw;
  height: 100%;
  background-color: rgba(var(--color-primary-background), 1);
  border-right: var(--border-main); }
  @media (max-width: 67.5em) {
    .nav {
      width: 20%; } }
  @media (max-width: 25.875em) {
    .nav {
      width: 100%;
      height: 5rem;
      justify-content: center;
      border-top: var(--border-main);
      border-bottom: var(--border-main); } }
  .nav__content-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem; }
    @media (max-width: 67.5em) {
      .nav__content-container {
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media (max-width: 52.8125em) {
      .nav__content-container {
        margin-right: 0; } }
    @media (max-width: 25.875em) {
      .nav__content-container {
        flex-direction: row;
        padding: 0;
        align-items: center;
        position: relative;
        width: 100%;
        justify-content: space-evenly; } }
  .nav__fill-page {
    background-color: rgba(255, 255, 255, 0.15);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center; }
  .nav__item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 50px;
    transition: all 0.3s;
    margin-bottom: 1rem; }
    @media (max-width: 25.875em) {
      .nav__item {
        padding: 0;
        margin: 0; } }
    .nav__item:hover {
      background-color: rgba(var(--color-primary-dark), 0.1);
      cursor: pointer; }
  .nav__icon {
    height: 3.5rem;
    fill: rgba(var(--color-font), 1); }
    .nav__icon--selected {
      fill: rgba(var(--color-primary), 1); }
    @media (max-width: 25.875em) {
      .nav__icon {
        height: 2.8rem; } }

.nav-text {
  color: rgba(var(--color-font), 1);
  font-size: 2rem;
  padding-left: 1.5rem; }
  @media (max-width: 67.5em) {
    .nav-text {
      display: none; } }
  .nav-text--selected {
    color: rgba(var(--color-primary), 1); }

.nav-text-feed {
  color: rgba(var(--color-font), 1);
  font-size: 2rem;
  padding-left: 1.5rem; }

.secondary-nav {
  display: flex;
  min-height: 5.2rem;
  width: 100%;
  border-bottom: var(--border-main);
  display: flex;
  align-items: center; }
  .secondary-nav__back {
    margin-left: 1rem;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.25s; }
    .secondary-nav__back:hover {
      background-color: rgba(var(--color-primary), 0.15);
      cursor: pointer; }
  .secondary-nav__back__arrow {
    fill: rgba(var(--color-primary), 1);
    height: 2rem;
    width: 2rem; }

.tweet-popup_container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  margin-top: 4rem;
  height: fit-content;
  width: 60rem;
  background-color: rgba(var(--color-primary-background), 1);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 3.5rem;
  box-shadow: var(--box-shadow); }
  @media (max-width: 25.875em) {
    .tweet-popup_container {
      position: fixed;
      margin: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      border-radius: 0; } }

.tweet-popup__top {
  height: 5rem;
  width: 100%;
  border-bottom: var(--border-main-2);
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  margin-bottom: 1.5rem; }

.tweet-popup__content {
  display: flex;
  position: relative;
  padding: 0 2rem; }

.popup__logo {
  height: 2.3rem;
  width: 2.3rem;
  fill: rgba(var(--color-primary), 1); }
  .popup__logo:hover {
    cursor: pointer; }

.logout-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem; }
  @media (max-width: 25.875em) {
    .logout-wrapper {
      margin: 0; } }

.settings-list {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
  height: fit-content;
  width: 35rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  background-color: rgba(var(--color-primary-background), 1);
  box-shadow: var(--box-shadow); }

.settings__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

.settings__header {
  color: rgba(var(--color-font), 1);
  font-size: 2rem;
  margin-bottom: 2rem; }

.settings__selected {
  border: solid 3px rgba(var(--color-primary), 1); }

.settings__light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 6rem;
  border-radius: 6px;
  background-color: #fff; }

.settings__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 6rem;
  border-radius: 6px;
  background-color: #15202b; }

.settings__text-light {
  color: #000;
  font-size: 1.5rem;
  margin-left: 1rem; }

.settings__text-dark {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem; }

.header-main {
  font-size: 2.9rem;
  line-height: 4.1rem; }
  .header-main--primary {
    color: rgba(var(--color-font), 1); }

.header-sub {
  font-size: 1.6rem;
  word-spacing: 0.2rem; }
  .header-sub--primary {
    color: rgba(var(--color-font), 1); }

.logo-small {
  height: 5rem;
  fill: rgba(var(--logo-color), 1); }

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  @media (max-width: 52.8125em) {
    .main-container {
      min-height: 110rem; } }
  @media (max-width: 25.875em) {
    .main-container {
      min-height: auto;
      height: 100%; } }

.sub-container {
  display: flex;
  height: 95%; }
  @media (max-width: 52.8125em) {
    .sub-container {
      flex-direction: column-reverse;
      justify-content: flex-end; } }
  @media (max-width: 25.875em) {
    .sub-container {
      height: unset; } }

.footer {
  height: 5%;
  background-color: rgba(var(--color-primary-background), 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgba(var(--color-font-dark), 1);
  font-size: 1.2rem;
  font-weight: 400;
  overflow: hidden; }
  @media (max-width: 82.375em) {
    .footer {
      height: 7%; } }
  @media (max-width: 52.8125em) {
    .footer {
      height: 18%; } }
  @media (max-width: 25.875em) {
    .footer {
      height: 100%;
      justify-content: start; } }
  .footer__container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem; }
    .footer__container > p:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0.8rem; }
  .footer__signup {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10rem; }
    @media (max-width: 52.8125em) {
      .footer__signup {
        display: flex; } }
  .footer__button-wrapper {
    width: 17rem; }

.left-body {
  position: relative;
  flex: 1 1 0%;
  background-color: rgba(var(--color-primary-light), 1);
  overflow: hidden; }
  @media (max-width: 25.875em) {
    .left-body {
      height: 21rem;
      flex: none; } }
  .left-body__header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #fff; }
    @media (max-width: 25.875em) {
      .left-body__header-container {
        width: 80%;
        font-size: 2.3rem; } }
    .left-body__header-container > h5:not(:last-child) {
      margin-bottom: 3.5rem; }
      @media (max-width: 25.875em) {
        .left-body__header-container > h5:not(:last-child) {
          margin-bottom: 3.8rem; } }

.logo-landing {
  z-index: 1;
  position: absolute;
  height: 160vh;
  right: -50vh;
  top: -30vh;
  max-width: none;
  fill: #1da1f2; }

.right-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgba(var(--color-primary-background), 1);
  color: rgba(var(--color-font), 1); }
  @media (max-width: 25.875em) {
    .right-body {
      justify-content: start;
      flex: none;
      padding-bottom: 1rem; } }
  .right-body__main-container {
    max-width: 35rem; }
    @media (max-width: 52.8125em) {
      .right-body__main-container {
        padding: 2rem;
        max-width: 38rem; } }
    @media (max-width: 25.875em) {
      .right-body__main-container {
        padding: 2.2rem;
        max-width: inherit;
        width: 100%; } }
  .right-body__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 5rem; }
    @media (max-width: 67.5em) {
      .right-body__form-container {
        display: none; } }
  .right-body__header-container {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 67.5em) {
      .right-body__header-container {
        justify-content: center; } }
    @media (max-width: 25.875em) {
      .right-body__header-container {
        height: unset; } }

.landing-err {
  font-size: 1.5rem;
  color: rgba(var(--color-red), 1);
  margin-top: 1rem;
  margin-bottom: 1rem; }

.signup-page-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--color-primary-background), 1); }

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50rem;
  padding: 5rem 2.5rem 2rem 2.5rem; }
  .signup__logo {
    height: 3rem;
    margin-bottom: 2.5rem; }

.back-arrow {
  position: absolute;
  top: 2.5%;
  left: 3%;
  height: 3rem;
  width: 3rem;
  fill: rgba(var(--color-primary), 1); }
  .back-arrow:hover {
    cursor: pointer; }

.signup-error {
  font-size: 1.5rem;
  color: rgba(var(--color-red), 1);
  transform: translateY(-60%); }

.feed-page-container {
  background-color: rgba(var(--color-primary-background), 1);
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 25.875em) {
    .feed-page-container {
      height: var(--height); } }

.create-tweet-container {
  height: fit-content;
  border-bottom: solid 1rem rgba(var(--color-font), 0.1);
  padding-right: 1.5em;
  padding-bottom: 3.5rem; }

.feed-container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.explore-container {
  width: 50%; }

.feed-page-half {
  display: flex;
  height: 100%;
  overflow: auto; }
  @media (max-width: 25.875em) {
    .feed-page-half {
      height: unset; } }

.feed-middle {
  height: fit-content;
  min-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: var(--border-main); }
  @media (max-width: 67.5em) {
    .feed-middle {
      width: 78%; } }
  @media (max-width: 52.8125em) {
    .feed-middle {
      width: 100%; } }

.input-container {
  position: relative;
  width: fit-content; }
  @media (max-width: 67.5em) {
    .input-container {
      display: none; } }

.search-results {
  position: absolute;
  z-index: 10;
  top: 107%;
  left: 2.5%;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  overflow: hidden;
  width: 95%;
  height: fit-content; }
  .search-results__item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: rgba(var(--color-primary-background), 1); }
    .search-results__item:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary-background-2), 1); }
  .search-results__item-query {
    color: rgba(var(--color-font), 1);
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: rgba(var(--color-primary-background), 1); }
    .search-results__item-query:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary-background-2), 1); }
  .search-results__user {
    display: flex;
    flex-direction: column; }
  .search-results__user-name {
    font-size: 1.8rem;
    color: rgba(var(--color-font), 1); }
  .search-results__user-username {
    font-size: 1.3rem;
    color: rgba(var(--color-font-dark), 1); }

.feed-right {
  width: 40%;
  display: flex;
  justify-content: center; }
  @media (max-width: 67.5em) {
    .feed-right {
      display: none; } }

.profile-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(var(--color-primary-background), 1); }
  @media (max-width: 25.875em) {
    .profile-page-container {
      height: var(--height); } }

.profile-feed-container {
  display: flex;
  width: 100%;
  flex-direction: column; }

.profile-bottom-half {
  overflow: auto;
  height: 100%;
  display: flex; }

.profile-info-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: fit-content;
  border-bottom: var(--border-main);
  width: 100%; }

.profile__coverImg-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20rem;
  overflow: hidden; }

.profile__coverImg {
  width: 100%; }

.profile__follow-edit {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5.5rem;
  margin-bottom: 2rem; }

.profile__edit {
  width: 12rem;
  margin-left: auto;
  margin-right: 1.5rem; }

.profile__photo {
  position: absolute;
  top: 12.5rem;
  left: 1.3rem;
  border: solid 5px rgba(var(--color-primary-background), 1);
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover; }

.profile__name {
  font-size: 2.5rem;
  color: rgba(var(--color-font), 1);
  font-weight: 600;
  display: inline-block;
  margin-left: 2rem; }

.profile__username-container {
  display: flex;
  align-items: center; }

.profile__follows-you {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  padding: 0.5rem;
  color: #8899a6;
  background-color: var(--follows-you); }

.profile__username {
  font-size: 1.6rem;
  color: rgba(var(--color-font-dark), 1);
  font-weight: 500;
  display: inline-block;
  margin-left: 2rem; }

.profile__bio {
  font-size: 1.6rem;
  color: rgba(var(--color-font), 1);
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 2rem; }

.profile__follow-follower {
  display: flex;
  height: 5rem;
  margin-left: 2rem;
  align-items: center; }

.follow-count-text {
  font-size: 1.6rem;
  color: rgba(var(--color-font-dark), 1);
  font-weight: 300; }
  .follow-count-text:hover {
    cursor: pointer;
    text-decoration: underline; }

.bold {
  font-weight: 600;
  color: rgba(var(--color-font), 1); }

.follows-page-container {
  width: 100%;
  background-color: rgba(var(--color-primary-background), 1); }
  @media (max-width: 25.875em) {
    .follows-page-container {
      height: var(--height); } }

.follows-bottom {
  width: 60%;
  display: flex;
  border-right: var(--border-main); }
  @media (max-width: 67.5em) {
    .follows-bottom {
      width: 78%; } }
  @media (max-width: 52.8125em) {
    .follows-bottom {
      width: 100%; } }
  .follows-bottom__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    color: rgba(var(--color-font-dark), 1);
    border-bottom: var(--border-main-2); }
    .follows-bottom__selection:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1); }
  .follows-bottom__selection-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    border-bottom: solid 2.5px rgba(var(--color-primary), 1);
    color: rgba(var(--color-primary), 1); }
    .follows-bottom__selection-active:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1); }
  .follows-bottom__text {
    font-size: 1.6rem;
    color: currentColor; }

.search-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(var(--color-primary-background), 1); }
  @media (max-width: 25.875em) {
    .search-page-container {
      height: var(--height); } }

.search-nav {
  height: fit-content;
  width: 60%;
  border-right: var(--border-main);
  border-bottom: var(--border-main); }
  @media (max-width: 52.8125em) {
    .search-nav {
      width: 100%; } }

.search-top {
  margin-top: 1rem;
  display: flex; }

.search-bottom {
  margin-top: 1rem;
  display: flex; }
  .search-bottom__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    color: rgba(var(--color-font-dark), 1); }
    .search-bottom__selection:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1); }
      @media (max-width: 25.875em) {
        .search-bottom__selection:hover {
          background-color: rgba(var(--color-primary-background), 1); } }
  .search-bottom__selection-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 6rem;
    transition: all 0.2s;
    border-bottom: solid 2.5px rgba(var(--color-primary), 1);
    color: rgba(var(--color-primary), 1); }
    .search-bottom__selection-active:hover {
      cursor: pointer;
      background-color: rgba(var(--color-primary), 0.1); }
  .search-bottom__text {
    font-size: 1.6rem;
    color: currentColor; }

.results-list-container {
  height: 100%;
  display: flex;
  overflow: auto; }

.search-feed-middle {
  height: fit-content;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: var(--border-main); }
  @media (max-width: 52.8125em) {
    .search-feed-middle {
      width: 100%; } }

.news-feed-right {
  width: 25%; }
  @media (max-width: 52.8125em) {
    .news-feed-right {
      width: 0%; } }

.explore-page-container {
  background-color: rgba(var(--color-primary-background), 1);
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (max-width: 25.875em) {
    .explore-page-container {
      height: var(--height); } }

.search-top-page {
  margin-top: 1rem;
  display: flex;
  width: 95%; }

.searchbar-container-page-main {
  width: 100%;
  position: relative; }

.no-results {
  position: relative;
  z-index: 25;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .no-results-query {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
    color: rgba(var(--color-font), 1); }
  .no-results-text {
    font-size: 2rem;
    color: rgba(var(--color-font-dark), 1); }
  .no-results-text-small {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    color: rgba(var(--color-font-dark), 1); }

.explore-quick-container {
  margin-top: 2rem;
  background-color: rgba(var(--color-primary-background-2), 1);
  border-radius: 10px;
  width: 25%;
  height: 80vh;
  position: fixed;
  top: 8%;
  overflow: auto; }

.explore-quick-header {
  color: rgba(var(--color-font), 1);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-left: 2rem; }

.edit-profile-container {
  position: relative;
  background-color: rgba(var(--color-primary-background), 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 25.875em) {
    .edit-profile-container {
      height: var(--height); } }

.edit-profile-photo-container {
  position: relative; }

.edit-profile {
  width: 50em;
  height: 55rem;
  background-color: rgba(var(--color-primary-background), 1);
  border: solid 8px rgba(var(--color-primary-background-2), 1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 52.8125em) {
    .edit-profile {
      width: 100%;
      height: 80%; } }
  .edit-profile__coverImg-container {
    width: 100%;
    height: 17rem;
    margin-bottom: 8rem; }
  .edit-profile__coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%); }
  .edit-profile__photo-container {
    margin-left: 1rem;
    position: absolute;
    height: 15rem;
    width: 15rem;
    top: 9rem;
    left: 0;
    border-radius: 50%;
    border: solid 5px rgba(var(--color-primary-background), 1); }
  .edit-profile__photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: brightness(55%);
    object-fit: cover; }
  .edit-profile__upload-cover {
    position: absolute;
    color: transparent;
    z-index: 50;
    top: 29.5%;
    left: 46%;
    width: 3rem;
    height: 3rem; }
    .edit-profile__upload-cover:hover {
      cursor: pointer; }
    .edit-profile__upload-cover::-webkit-file-upload-button {
      visibility: hidden; }
    .edit-profile__upload-cover__icon-cover {
      position: absolute;
      z-index: 10;
      top: 30%;
      left: 47.5%;
      fill: #fff;
      height: 2.5rem;
      width: 2.5rem; }
    .edit-profile__upload-cover::before {
      display: inline-block;
      background: linear-gradient(top, #f9f9f9, #e3e3e3);
      padding: 1rem;
      cursor: pointer;
      color: rgba(var(--color-font), 1);
      -webkit-user-select: none; }
    .edit-profile__upload-cover:focus {
      outline: none; }
  .edit-profile__upload {
    position: absolute;
    color: transparent;
    z-index: 50;
    top: 41%;
    left: 41%;
    width: 3rem;
    height: 3rem; }
    .edit-profile__upload:hover {
      cursor: pointer; }
    .edit-profile__upload::-webkit-file-upload-button {
      visibility: hidden; }
    .edit-profile__upload__icon {
      position: absolute;
      z-index: 10;
      top: 41%;
      left: 41%;
      fill: #fff;
      height: 2.5rem;
      width: 2.5rem; }
    .edit-profile__upload::before {
      display: inline-block;
      background: linear-gradient(top, #f9f9f9, #e3e3e3);
      padding: 1rem;
      cursor: pointer;
      color: rgba(var(--color-font), 1);
      -webkit-user-select: none; }
    .edit-profile__upload:focus {
      outline: none; }

.loading-fill {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.15); }
