.btn {
  border-radius: 5rem;
  border: none;
  height: 4rem;
  background-color: $color-primary;
  color: $color-font;
  font-weight: 700;
  font-size: 1.6rem;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-dark;
  }

  &--outline {
    background-color: transparent;
    color: $color-primary;
    border: solid 1px $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.1);
    }
  }
}
