.create-tweet-container {
  padding: 1rem;
  display: flex;
  width: 100%;

  @include respond(iPhoneProMax) {
    display: none;
  }
}

.create-tweet {
  display: flex;
  width: 100%;

  flex-direction: column;
  margin-left: 0.5rem;
  padding-top: 1.1rem;

  &__text {
    resize: none;
    background-color: transparent;
    border: none;
    color: $color-font;
    font-family: sans-serif;
    font-size: 2rem;
    width: 100%;

    &::placeholder {
      color: $color-font-dark;
    }

    &:focus {
      outline: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: $border-main;
    height: 3rem;
    padding-top: 3.5rem;

    @include respond(iPhoneProMax) {
      position: relative;
    }
  }

  &__icon {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-primary;
  }
}

.create-form-container {
  display: flex;
  flex-direction: column;
}

.create-tweet-photos-container {
  position: relative;
  margin-top: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;

  &::after {
    content: "";
    display: block;
    padding-top: 60%;
  }
}

.create-tweet-image-icon-container {
  position: relative;
}

.tweet-popup-container {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.create-tweet-input {
  position: absolute;
  color: transparent;
  z-index: 50;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:focus {
    outline: none;
  }
}

.tweet-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tweet-photo-2-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}

.tweet-photo-2-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 100%;
  object-fit: cover;
}

.tweet-photo-3-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}

.tweet-photo-3-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover;
}

.tweet-photo-3-third {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover;
}

.tweet-photo-4-first {
  position: absolute;
  width: 49%;
  border-radius: 15px;
  height: 48.5%;
  object-fit: cover;
}

.tweet-photo-4-second {
  position: absolute;
  right: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover;
}

.tweet-photo-4-third {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover;
}

.tweet-photo-4-fourth {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  width: 49%;
  height: 48.5%;
  object-fit: cover;
}
