.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;

  &__signup {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}

.input-placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  transform: translate(5%, -300%);
  color: rgba(var(--color-font-dark), 1);
}

.input-placeholder-error {
  font-size: 1.5rem;
  font-weight: 400;
  transform: translate(5%, -300%);
  color: rgba(var(--color-red), 1);
}

.input {
  height: 6rem;
  width: 20rem;
  color: rgba(var(--color-font), 1);
  background-color: rgba(var(--color-primary-background-2), 1);
  border: none;
  border-radius: 2px;
  border-bottom: solid 2.7px rgba(var(--color-font-dark), 1);
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem;

  &__signup {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-bottom: solid 2.7px rgba(var(--color-primary), 1);
  }

  &:focus ~ .input-placeholder {
    color: rgba(var(--color-primary), 1);
  }
}

.input-error {
  height: 6rem;
  width: 20rem;
  color: rgba(var(--color-font), 1);
  background-color: rgba(var(--color-primary-background-2), 1);
  border: none;
  border-radius: 2px;
  border-bottom: solid 2.7px rgba(var(--color-red), 1);
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem;

  &__signup {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:focus ~ .input-placeholder {
    color: rgba(var(--color-red), 1);
  }
}
