.wrapper {
  display: flex;
  flex-direction: column;

  &__signup {
    width: 100%;
  }
}

.input-placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  transform: translate(5%, -300%);
  color: $color-font-dark;
}

.input {
  height: 6rem;
  width: 20rem;
  color: $color-font;
  background-color: $color-primary-background-2;
  border: none;
  border-radius: 2px;
  border-bottom: solid 2.7px $color-font-dark;
  padding: 2rem 1rem 0 1rem;
  font-size: 2rem;

  &__signup {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-bottom: solid 2.7px $color-primary;
  }

  &:focus ~ .input-placeholder {
    color: $color-primary;
  }
}
