.searchbar-container {
  width: 25rem;
  position: relative;
}

.searchbar-container-page {
  width: 85%;
  position: relative;
  margin-left: 1.5rem;
}

.searchbar {
  height: 4rem;
  width: 100%;
  color: var(--color-font);
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 4.5rem;
  border-radius: 55px;
  border: none;
  background-color: var(--color-secondary-background);

  &::placeholder {
    color: var(--color-font-dark);
  }

  &:focus {
    outline: none;
    border: solid 1px var(--color-primary);
    background-color: transparent;
  }

  &:focus ~ &__icon {
    fill: var(--color-primary);
  }

  &__icon {
    position: absolute;
    top: 23%;
    left: 5%;
    fill: var(--color-font-dark);
    height: 2rem;
    width: 2rem;
  }

  &__icon-page {
    position: absolute;
    top: 23%;
    left: 1.5rem;
    fill: var(--color-font-dark);
    height: 2rem;
    width: 2rem;
  }
}
