$primary-color: #1da1f2;
$primary-color-light: #71c9f8;
$primary-color-dark: #1b95e0;

$primary-color-background: #15202b;
$primary-color-background-2: #192734;

$font-color: #fff;
$font-color-dark: #8899a6;
